/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/raleway */
@import "http://fonts.fontstorage.com/import/raleway.css";
/*
	Raleway, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/montserrat */
@import "http://fonts.fontstorage.com/import/montserrat.css";
/*
	Montserrat, 400, 700
*/

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1920px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/*-----------------------------------------
              ШАПКА
-----------------------------------------*/
header {
	background: url("../img/bg photo.jpg");
	height: 1024px;
	display: flex;
	flex-wrap: wrap;
}
.logo{
	box-sizing: border-box;
	margin-left: 376px;
	margin-top: 40px;
}
.waxom{
	 font-family: Raleway;
	 color:  #ffffff;
	 font-size: 34px;
	 font-weight: 400;
	 position: relative;
	bottom: 15px;
 }
.menu ul{
	display: flex;
	margin-left: 219px;
	margin-top: 62px;
}
.menu li a{
	margin-right: 30px;
	font-family: Montserrat;
	color:  #fff;
	font-size: 14px;
	font-weight: 300;
	transition: 0.45s;
}
.menu li a:hover{
	color: #c7b29a;;
}
.icon{
	display: flex;
	margin-top: 62px;
	margin-left: 63px;
}
.icon img{
	margin-right: 28px;
	transition: 0.6s;
}
.icon img:hover {
	transform: rotate(180deg);
}
header .main{
	width: 600px;
	height: 300px;
	margin: 309px auto 0;
}
header h2{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 36px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 14px;
}
header h1{
	font-family: Raleway;
	color:  #ffffff;
	font-size: 52px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 19px;
}
header p{
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}
header .main a{
	display: block;
	border-radius: 3px;
	background-color:  #998675;
	width: 170px;
	margin: 52px auto;
	box-sizing: border-box;
	text-align: center;
	font-family: Raleway;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 23px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	text-transform: uppercase;
	padding: 17px 0;

}
header .main a:hover{
	background-color: #c7b29a;
	border-bottom: 3px solid #736357;

}
header .main a:focus{
	background-color: #736357;
	border-bottom: none;
}
/*-----------------------------------------
            REALIZATION
-----------------------------------------*/
.top{
	display: flex;
	padding-top: 80px;
	justify-content: center;
	align-items: baseline;
}
.top img{
	display: block;
	margin: 0;
	padding: 0;
}
.top article{
	width: 330px;
	text-align: center;

}
.top a{
	font-family: Raleway;
	color: #555555;
	font-size: 22px; /* Приближение из-за подстановки шрифтов */
	font-weight: 600;
	text-align: center;

}
.top p{
	font-family: Montserrat;
	color: #8c8c8c;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: 20px;
	margin: 0 30px;
}
.top img{
	margin: 0 auto;
	margin-bottom: 30px;
}